
.container {
    display:block;
    position: relative;
    padding-left: 25px;
    margin: 10px;
    cursor: pointer;
    font-size: 1em;
    user-select: none;
}


input {
    height: 1.5em;
    width: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
}